*{
    padding: 0;
    margin: 0;
    /* background-image: url(Back.jpeg); */
    
    

}

.gsc-addBlock{
    display: none;
}
a{
    color: green;
}
 .gsc-contentBlock{
    background-color: lightgreen;
 }
